<div class="jumbotron" style="background:transparent">
<div class="nav">
  <p class="navbar-text navbar-left">WHATEVEVER</p>
        <span class="glyphicon glyphicon-menu-hamburger navbar-text navbar-right" style="font-size:20px"></span>
        <p style="font-size:14px" class="navbar-text navbar-right">TH</p>
        <p style="font-size:14px"  class="navbar-text navbar-right">EN</p>
      </div>

</div>
<div class="jumbotron" style="background:transparent; margin-left:10px">
  <p style="font-size:55px" >An Experienced Graohic Designer</p>
  <p style="font-size:35px" >Focused On Every User and Every Detail</p>
  <button style="font-size:24px;border: 1px solid ;margin-top: 30px; padding:20px 70px" class="btn btn-default btn-lg">View Our Work</button>
</div>
